h1 New Recipe

= live_render @conn, CookpodWeb.RecipeFormLive, session: %{"action" => Routes.recipe_path(@conn, :create), "csrf_token" => Plug.CSRFProtection.get_csrf_token()}



span= link "Back", to: Routes.recipe_path(@conn, :index)
